.linkimage {
    height: 200px; width: auto;
}

img {
    height: 400px; width: auto;
    text-align: center;
}

.linkcontainer {
    display: flex;
    justify-content: space-around;
}
h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: burlywood;
    font-size: 50px;
}

body {
    background-color: antiquewhite;
    font-family: "Courier New", Courier, monospace;
}

button {
    background-color: burlywood;
}