.linkimage {
    height: 200px; width: auto;
}

img {
    height: 400px; width: auto;
    margin: auto;
    display: block;
}

.linkcontainer {
    display: flex;
    justify-content: space-around;
}

h1, h2 {
    text-align: center;
    background-color: burlywood;
    padding-bottom: 25px;
    padding-top: 25px;
}

h1 {
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

body {
    background-color: antiquewhite;
    font-family: "Courier New", Courier, monospace;
}

button {
    background-color: burlywood;
}

p {
    text-align: center;
}

ul, ol {
    line-height: 150%;
}